<div class="check-invitation-header">
  「<%= @group_user.group.name %>」から招待されています
</div>
<div class="check-invitation-container">
  <%= link_to '参加する', permit_group_user_path(@group_user), method: :put, data: { confirm: "「#{@group_user.group.name}」に参加しますか？" }, class: 'btn check-invitation-container__join-btn' %>
  <%= link_to '辞退する', group_user_path(@group_user), method: :delete, data: { confirm: "本当に「#{@group_user.group.name}」からの招待を辞退しますか？" }, class: 'btn check-invitation-container__refuse-btn' %>
</div>