<div class="text-center">
  <h1>アカウント作成フォーム</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= render 'form', user: @user %>
    <p class="text-right">すでにアカウントをお持ちの方は <%= link_to 'こちら', root_path %></p>
  </div>
</div>
