@import "setup";

// アカウント作成ページ、アカウント情報編集ページ、ログインページに適用

.account-header {
  font-size: 28px;
  margin: 25px auto;
  text-align: center;
}

.account-footer {
  margin: 0 auto;
  width: 96%;
  max-width: 450px;
  font-size: 17px;
  text-align: end;
}

// ゲストユーザログイン時、ユーザ情報編集ページボタン箇所メッセージ
.unable-to-edit-message {
  color: $c-pink;
}

// フォーム要素内
.account-form {
  margin: 0 auto;
  width: 96%;
  max-width: 450px;
  font-size: 18px;

  &__group {
    margin-bottom: 15px;

    &--label {
      margin: 0;
    }
  }

  &__submit {
    margin: 0 auto 15px;

    &--btn {
      width: 100%;
      color: #fff;
      background-color: $c-deep-blue;
      font-size: 18px;

      &:hover {
        background-color: $c-light-blue;
        color: $c-deep-blue;
      }
    }
  }
}

// ゲストユーザログインボタン
.guest-account-form {
  margin: 55px auto 15px;
  width: 96%;
  max-width: 450px;
  font-size: 18px;

  &__submit {
    margin: 0 auto 15px;

    &--btn {
      width: 100%;
      color: #fff;
      background-color: $c-pink;
      font-size: 18px;

      &:hover {
        background-color: $c-light-pink;
        color: $c-pink;
      }
    }
  }
}