@import "setup";
@import "account";

.check-invitation-header {
  @extend .account-header;
  color: $c-deep-gray;
}

.check-invitation-container {
  width: 96%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  margin: 60px auto;

  &__join-btn,
  &__refuse-btn {
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
  }

  &__join-btn {
    margin-right: 15%;
    background-color: $c-pink;

    &:hover {
      background-color: $c-light-pink;
      color: $c-pink;
    }
  }

  &__refuse-btn {
    background-color: $c-gray;

    &:hover {
      background-color: $c-light-gray;
      color: $c-gray;
    }
  }
}