@import "setup";

.details-page-header {
  color: $c-deep-gray;
  font-size: 35px;
  text-align: center;

  &__face-icon {
    font-size: 50px;
    color: $c-blue;
  }

  &__heart-icon {
    font-size: 50px;
    color: $c-pink;
  }
}

.date-switching {
  text-align: end;
  width: 80%;
  margin: 0 auto 15px;
}
.sort_link {
  color: $c-deep-blue;
}