@import "setup";

.header-message {
  margin: 25px auto 15px;
  text-align: center;
  font-size: 38px;
  color: $c-deep-gray;

  & .fa-envelope {
    color: $c-pink;
  }
}

.no-group-message {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}

.group-container {
  margin: 0 auto 30px;
  width: 96%;
  max-width: 850px;
  border-radius: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .7);
}

.group-name {
  min-height: 50px;
  display: flex;
  justify-content: center;
  background-color: $c-blue;
  align-items: center;
  border-radius: 10px 10px 0 0;
  font-size: 25px;
  margin-bottom: 15px;

  & a {
    color: #fff;
  }
}

// 感謝登録フォーム
.thank-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
  padding-bottom: 18px;

  &__left {
    flex: 6;
    max-width: 550px;

    &--label {
      font-size: 20px;
      color: $c-deep-gray;

      & .fa-hand-point-right,
      & .fa-heart,
      & .fa-smile {
        font-size: 40px;
        color: $c-pink;
      }
    }

    &--input {
      border: 1px solid #cecece;
      border-radius: 5px;
      width: 100%;
    }
  }

  &__right {
    flex: 1;
    max-width: 48px;
    display: flex;
    align-items: flex-end;

    &--btn {
      width: 100%;
      font-size: 24px;
      padding: 0;
      color: #fff;
      background-color: $c-pink;
      border-radius: 5px
    }
  }
}

// 感謝登録完了後の表示
.thanked-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 68px;
  width: 95%;
  padding-bottom: 18px;

  &__text {
    flex: 6;
    max-width: 550px;
    font-size: 20px;
    color: $c-deep-gray;

    & .fa-hand-point-right,
    & .fa-heart,
    & .fa-laugh-squint {
      font-size: 40px;
      color: $c-pink;
    }
  }

  &__undo-btn {
    flex: 1;
    max-width: 48px;
    display: flex;
    align-items: flex-end;

    &--link {
      width: 100%;
      font-size: 24px;
      padding: 0;
      color: #fff;
      background-color: $c-gray;
      border-radius: 5px
    }
  }
}