@import "account";

// グループ作成ページとグループ名編集ページ双方に適用
.group-new-header,
.group-edit-header {
  @extend .account-header;
}

.group-new-footer, 
.group-edit-footer {
  @extend .account-footer;
}

// フォーム要素
.group-form {
  @extend .account-form;

  &__group {
    margin-bottom: 15px;

    &--label {
      margin: 0;
    }
  }

  &__submit {
    margin: 0 auto 15px;

    &--btn {
      @extend .account-form__submit--btn;
    }
  }
}