.details-page-header {
  font-size: 35px;
  text-align: center;
  
  &__face-icon {
    color: #7ecbff;
  }

  &__heart-icon {
    color: #fa4993;
  }
}

.date-switching {
  text-align: end;
  margin-bottom: 15px;
}
.sort_link {
  color: black;
}
