@import "setup";

// サイドバーは900px以下でのみ表示
.sidebar {
  position: absolute;
  left: -250px;
  height: 100%;
  width: 250px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding-left: 15px;
  background-color: $c-deep-blue;
  font-size: 22px;
  transition: all 0.2s;

  li {
    margin-top: 8px;
  }

  a {
    color: #fff;
  }

  .nav-link {
    padding: 0;
  }

  &__footer {
    margin: auto 0 30px;

    &--current-user {
      font-weight: bold;
      margin-bottom: 8px;
      color: #fff;
    }

    &--link-list {
      color: #fff;
    }
  }
}

// ヘッダー
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1;
  padding: 0 15px;
  background-color: $c-deep-blue;

  &__title {
    color: #fff;
    font-size: 35px;
  }

  &__nav {
    display: flex;
    align-items: center;
    font-size: 20px;

    &--link-list {
      margin-left: 20px;

      a {
        color: #fff;
        padding: 0;
      }
    }
  }
}
//ヘッダー終わり

// ハンバーガーメニュー
.header__open-icon,
.sidebar__close-icon {
  display: none;
  color: #fff;
}
input[type="checkbox"] {
  position: absolute;
  left: -50vw;
}
// ハンバーガーメニュー 終わり

// ドロップダウンリンク
.dropdown-item a {
  color: $c-deep-gray;
}
// ドロップダウンリンク 終わり


@media screen and (max-width: 900px) {

  .header {
    justify-content: center;

    &__open-icon {
      display: block;
      position: absolute;
      left: 10px;
      font-size: 35px;
    }

    &__title, a {
      text-align: center;
    }

    &__nav {
      display: none;
    }
  }

  .sidebar {

    &__close-icon {
      display: block;
      text-align: left;
      padding-top: 7px;
    }
  }

  input[type="checkbox"]:checked ~ .sidebar {
    position: fixed;
    left: 0;
  }

  input[type="checkbox"]:checked ~ .back {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
}