@import "setup";

.search-user {
  margin: 25px auto;
  width: 96%;
  max-width: 800px;
  color: $c-deep-gray;

  &__header {
    font-size: 28px;
    margin-bottom: 28px;
    text-align: center;
  }

  &__form {
    display: flex;
    justify-content: center;

    &--input {
      max-width: 400px;
    }

    &--btn {
      background-color: #ffc400;
      color: $c-deep-gray;

      &:hover {
        background-color: orange;
        color: #fff;
      }

    }
  }

  &__clear-link {
    display: flex;
    justify-content: flex-end;
    margin: 2px auto 30px;
    max-width: 442px;

    & a {
      color: $c-deep-blue;
    }
  }

  &__status {
    font-size: 20px;

    &--before,
    &--failed {
      text-align: center;
    }

    &--success {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto 20px;
      max-width: 70%;
      border-bottom: 1px solid $c-light-gray;

      & .invitable-user {
        color: $c-deep-gray;
      }

      & .invite-form__btn {
        color: #fff;
        background-color: $c-pink;

        &:hover {
          background-color: $c-light-pink;
          color: $c-pink;
        }
      }
    }
  }
}