.sidebar {
  width: 20%;
  min-width: 250px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  background-color: #4897d8;
  text-align: center;

  a {
    color: #fff;
  }

  &__nav {

    &--link-list {

    }
  }

  &__footer {
    margin-top: auto;
    margin-bottom: 5px;
    height: 100px;

    &--current-user {
      color: #fff;
    }

    &--link-list {
      color: #fff;
    }
  }
}

