@import "setup";

.thank-search-container {
  margin: 25px auto;
  width: 98%;
  border: 1px solid $c-light-gray;
  border-radius: 10px;

  &__head {
    min-height: 50px;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: $c-blue;
    align-items: center;
    border-radius: 9px 9px 0 0;
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.thank-search-form-group {
  max-width: 80%;
  margin: 0 auto;

  &__upper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    &--input {
      flex: 4;
    }

    &--label {
      flex: 1;
      display: flex;
      align-items: center;
      padding-left: 5px;
      font-size: 17px;
    }
  }

  &__lower {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    &--input {
      flex: 4;
    }

    &--label {
      flex: 1;
      display: flex;
      align-items: center;
      padding-left: 5px;
      font-size: 17px;
    }
  }

  &__submit-btn {
    width: 100%;
    color: #fff;
    background-color: $c-blue;
    border-radius: 6px;
    margin-bottom: 5px;
  }

  &__undo-link a {
    display: flex;
    justify-content: flex-end;
    color: $c-deep-blue;
  }
}

// サブヘッダー表示の際適用
@media screen and (max-width: 900px) {

  .thank-search-container {
    margin: 2px auto;
    width: 75%;
    border: none;
    color: #fff;

    &__head {
      max-width: 80%;
      margin: 0 auto;
      justify-content: flex-start;
      min-height: 20px;
      background-color: transparent;
      font-size: 18px;
      margin-bottom: 3px;
    }
  }

  .thank-search-form-group {
    width: 80%;
    min-width: 300px;

    &__upper {
      margin-bottom: 6px;

      &--input {
        flex: 7;
      }

      &--label {
        flex: 1;
        font-size: 15px;
      }
    }

    &__lower {
      margin-bottom: 6px;

      &--input {
        flex: 7;
      }

      &--label {
        flex: 1;
        font-size: 15px;
      }
    }

    &__submit-btn {
      width: 87.5%;
      background-color: $c-deep-blue;
    }

    &__undo-link a {
      justify-content: flex-start;
    }
  }
}