
.users-container {
  display: flex;
  min-height: 100vh;

  &__main-content {
    max-width: 850px;
    flex: 4;
    margin: 0px auto;
  }

  &__right-content {
    flex: 1;
    max-width: 250px;
    margin-right: 8px;
    padding-top: 50px;
    border: solid 1px #e4e1e1;
  }
}
