.users-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;

  &__main-content {
    flex: 4;
    padding: 25px 0;
    max-width: 850px;
    overflow: auto;
    height: 100vh;
  }

  &__right-content {
    flex: 1;
    max-width: 350px;
  }
}
