<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <%= link_to 'ThanksHabit', root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to 'アカウント作成', signup_path, class: 'nav-link' %></li>
      </ul>
    </div>
  </nav>
</header>